/* footer */

#footer-rows{
  padding-top: 0px;
  padding-bottom: 35px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}


/* dark fixes */
.dark .pagination li > a, .pagination li > span {
	border: 1px solid #e13d3d;
}

.dark .page-link:hover {
	background-color: #e13d3d;
}

.dark a:active, 
.dark a:focus, 
.dark a:hover {
	color: #5DB2FF;
}


/* Watermark */

/* to make "white bg" transparent */
.home-section {
  background-color: transparent;
  z-index: 1;
}

#watermark{
    background-size: 700px 350px;
    background-repeat:no-repeat;
    background-position:left top;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 200px;
    left: 10px;
    pointer-events: none;
    height: 120%;
    width: 120%;
    text-align: right;
    opacity: 0.4;
}


.sidebarpic{
  margin: auto;
  width: 80%;
  padding: 15px;
}